name: android-maven-prebuilt-release-actions-workflow
on:
  push:
  
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: |
        mkdir project && \
        cd project && \
        mvn \
        archetype:generate \
        -DgroupId=com.mycompany.app \
        -DartifactId=my-app \
        -DarchetypeArtifactId=maven-archetype-quickstart \
        -DarchetypeVersion=1.5 \
        -DinteractiveMode=false

    - run: |
        ls -R
