name: android-maven-prebuilt-release-actions-workflow
on:
  push:
  
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [8, 11, 16, 17, 21, 22]
        template: [maven-archetype-quickstart]
    steps:
    - name: Set up JDK
      uses: actions/setup-java@v5.0.0
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'

    - name: Build with Maven
      run: |
        mkdir project && \
        cd project && \
        mvn \
        archetype:generate \
        -DgroupId=com.mycompany.app \
        -DartifactId=my-app \
        -DarchetypeArtifactId=maven-archetype-quickstart \
        -DarchetypeVersion=1.5 \
        -DinteractiveMode=false

    - run: |
        ls -R
        
    - uses: actions/upload-artifact@v4.6.0
      with:
        name: "my-${{ matrix.template }}-app-${{ matrix.java-version }}"
        path: "project"
